version: '3'
services:
  oauth-server:
    # Build locally from the ./oauth directory
    build: ./oauth
    container_name: lumina-auth
    restart: always
    environment:
      - OAUTH_PROVIDER=github
      - OAUTH_CLIENT_ID=Iv23li5ruvGgBnvl0J3c
      # Hardcoded Client Secret
      - OAUTH_CLIENT_SECRET=4718d7dd8dfabc4d745539368039d495077c591b
    ports:
      # Map host 8080 to container 3000 (Express default)
      - "8080:3000"
